*, *:after, *:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

[class*='col-'] {
    float: left;
    width:100%;
}

.clear-col{
    clear:both;
    float:inherit;
}

.container {
    margin:0%;
    width: 100%;
}


.container:after, .container:before {
    display: table;
    clear:both;
    content: " ";
}

/*---- Mobile----*/

@media screen and (max-width:680px) {
    
    /*---- NAV ----*/
    ul.top_nav {
        float:left;
        width: 100%;
    }
    
    ul.top_nav li:not(:first-child) {display: none;}
    ul.top_nav li.icon {
        float: right;
        display: inline-block;     
    }

    ul.top_nav.responsive {position: relative;}
    ul.top_nav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.top_nav.responsive li {
        float: none;
        display: inline;
    }
    ul.top_nav.responsive li a {
        display: block;
        text-align: left;
    }
    /*---- NAV ----*/
    
    /*---- mobile row height ----*/
    .row{
        height: 30vh;
    }
    /*---- row height ----*/
    #toTop {
        visibility: hidden;
    }

    .col-m-12 {
        width: 100%;
    }
    .col-m-11 {
        width: 91.666663%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-9 {
        width: 74.999997%;
    }
    .col-m-8 {
        width: 66.66666664%;
    }
    .col-m-7 {
        width: 58.333%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-5 {
        width: 41.6665%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-3 {
        width: 24.99%;
    }
    .col-m-2 {
        width: 16.66666%;
    }
    .col-m-1 {
        width: 8.33%;
    }
}

/*---- Tablet----*/

@media (min-width: 720px) {
    ul.top_nav {
        float:left;
    }
    
    .row{
        height: 40vh;
    }
    
    .col-12 {
        width: 100%;
    }
    .col-11 {
        width: 91.666663%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-9 {
        width: 74.999997%;
    }
    .col-8 {
        width: 66.66666664%;
    }
    .col-7 {
        width: 58.333%;
    }
    .col-6 {
        width: 50%;
    }
    .col-5 {
        width: 41.6665%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-3 {
        width: 24.99%;
    }
    .col-2 {
        width: 16.66666%;
    }
    .col-1 {
        width: 8.33%;
    }
}

/*---- Desktop----*/
@media only screen and (min-width: 1024px) {
    .row{
        height: 50vh;
    }
    
    .container {
        max-width: 1400px;
        margin: 0 auto;
    }
    
    .container-fluid {
        max-width: 90%;
        margin:0 5%;
    }
}