/*---- Css for About Page ----*/
.about_web_big{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.concept_line{
    position: relative;
    height: 3px;
    width: 35px;
    background-color: black;
}
.pra_title{
    letter-spacing: 2px;
    font-weight: 600;
}

.content_3 .about_img_right{
    background-image: url(../img/h2.jpg);
}

.content_2 .content_inner_box p{
    display: block;
    font-weight: 500;
    letter-spacing: 1px;
}

/*---- Mobile----*/
@media screen and (max-width:520px) {
    .about_web_big{
        height: 20%;
        margin-top: 0;
    }
    .desktop{
        display: none;
    }
    .content_bg{
        padding-top: 45%;
    }
    .content_text{
        padding: 5%;
    }
    .content_1 .about_img_left{
         background-image: url(../img/about1-wide.png);
    }
    .content_2 .about_img_left {
         background-image: url(../img/about4-wide.png);
    }
    .content_2 .about_img_right{
        background-image: url(../img/about2-wide.png);
    }

    .about_content .pra_title{
        font-size: 1.5rem;
        font-weight: 600;
    }    
    .about_content .img_para{
        font-size: .9rem;
        font-weight: 400;
        padding-bottom: 5%;
    }
    .content_2 p{
        font-size: 2rem;
    }
}
/*---- Bigger than Mobile----*/
@media screen and (min-width: 520px) {
    .mobile{
        display: none;
    }
    .content_bg{
        padding-top: 55%;
    }
    .content_3 .content_bg{
        padding-top: 35%;
    }
    .content_2 .content_bg{
        padding-top: 45%;
    }
    .content_text{
        padding: 5%;
    }
    .content_1 .about_img_left{
         background-image: url(../img/about1.jpg);
    }
    .content_2 .about_img_left {
         background-image: url(../img/about4.jpg);
    }
    .content_2 .about_img_right{
        background-image: url(../img/about2.jpg);
    }

    .about_content .pra_title{
        margin-top: 5%;
        font-size: 1.5rem;
        font-weight: 600;
    } 
    .about_content .content_3 .pra_title{
        margin-top: 25%;
    }    
    .about_content .img_para{
        font-size: .7rem;
        font-weight: 400;
        padding-bottom: 5%;
    }
    .content_2 p{
        margin-top: 20%;
        font-size: 1.7rem;
    }

    .about_content .content_inner_box {
        margin-top: -3vmin;
    }
    .about_web_big{
        height: 20%;
    }
}

@media screen and (min-width: 800px) {
    .mobile{
        display: none;
    }
    .content_bg{
        padding-top: 40%;
    }
    .content_3 .content_bg{
        padding-top: 35%;
    }

    .about_content .pra_title{
        margin-top: 5%;
        font-size: 1.8rem;
        font-weight: 600;
    } 

    .about_content .img_para{
        font-size: 1rem;
        font-weight: 400;
        padding-bottom: 5%;
    }
    .content_2 p{
        margin-top: 20%;
        font-size: 2.5rem;
    }

    .about_web_big{
        height: 40%;
        margin-top: 60px;
    }
    .about_web_big .about_img {
        width: 30%;
    }

}