/*---- Contact Page Starts----*/
.contact_img{
    position: relative;
    background-size:cover;
}


   /*---- Submit Button ----*/


    * {
        -webkit-transition-property: all;
        -webkit-transition-duration: .2s;
        -moz-transition-timing-function: cubic-bezier(100,50,21,6);
        -moz-transition-property: all;
        -moz-transition-duration: .2s;
        -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    }

    .send_btn {
        margin-top: 55%;
        margin-left: -43.5%;
        position: relative;
        display: inline-block;
        width: 166px;
        height: 45px;
        font-size: 14px;
        font-weight: 500;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        color: #000;
        cursor: pointer;
        overflow: hidden;
    }

    .send_btn svg {
        position: absolute;
        top: 0; left: 0;
    }

    .send_btn svg rect {
        fill: none;
        stroke: #000;
        stroke-width: 2;
        stroke-dasharray: 422, 0;
        @include transition(all 1300ms $ease-out-expo);
    }

    .send_btn:hover svg rect {
        stroke-width: 3;
        stroke-dasharray: 10, 310;
        stroke-dashoffset: 33;
    }

    .send_btn:hover {
        color:#000;
        font-size:18px;
        letter-spacing:1px;
        font-weight:bold;
    }

        /*---- Submit Button----*/




/* TEXT INPUT FIELD*/

.contact_grey_line{
    margin-top: 20%;
    margin-left: 8.33%;
    position:relative;

    height: 40px;

    background-color:#f8f8f8;
}
    *:focus {
        outline: 0;
        border-bottom: 1.5px solid black; 
    }
  
    .here-to-there {
        height: 100%;
        width: 100%;
        
    }


    .off-canvas {
        position: relative;
        float: left;
        width: 50%;
        height: 350px; 
    }

    .form-frame {
        width: 50%;
    }

    .form-frame span{
        color: #888;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        display: block;
        font-size: 12px;
        padding-top: 5px;
        letter-spacing: 4px;
    }
    


    .here-to-there input {
        background-color: transparent;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid #999;
        border-right: 1px solid transparent;
        width: 100%;
        font-size: 12px;
        font-weight: 100;
        letter-spacing: 0.1px;
    }

    textarea{
        background-color:transparent;
        border-top: 1px solid #999;
        border-left: 1px solid #999;
        border-bottom: 1px solid #999;
        border-right: 1px solid #999;
        width: 300px;
        color: black;
        font-size: 12px;
        line-height: 18px;
        padding: 4px 0px;
        height: 200px;
        width: 100%;
        margin-top: 10px;
    }


    textarea:focus{
        outline: 0;
        border: 1.5px solid black; 
    }

    .textinput-banner-right{
        padding-left: 13%;
        padding-top: 10%;
    }

@media screen and (min-width: 800px) {
    .contact_img{
        margin-top: 60px;
    }
}

@media screen and (min-width: 800px) {
    .contact_img{
        margin-top: 60px;
        padding-top:45%;
        background-image: url(../img/contact_s1-wide.png);
        width: 100%;
    }
}
@media screen and (min-width: 1000px) {
    .contact_img{
        float: left;
        margin-top: 60px;
        padding-top:60%;
        background-image: url(../img/contact_s1.png);
        width: 41.6665%;
    }
    
    .contact_content_form{
        position: relative;
        display: block;
        float: left;
        margin-top: 60px;
    }
}
    