/*---- Background Color ---*/
/*---- Button ----*/
/*---- Form ----*/
/*---- Footer ----*/
/*---- Go top Icon ----*/

/*---- Background Color Starts---*/
.light_grey_gb{
    background-color: #f8f8f8;
}

.dark_grey_gb {
    background: #9598a1;
}
/*---- Background Color Ends---*/

/*----Button Starts----*/
* {
    -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    -moz-transition-property: all;
    -moz-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

.btn {
    position: relative;
    float: right;
    display: flex;
    width: 100%;
    height: 45px;
    font-size: 1.4vmin;
    letter-spacing:1px;
    line-height: 45px;
    text-align: center;
    justify-content: center;
    color: #000;
    cursor: pointer;
    font-weight: 500;
    padding-left: 2vmin;
    text-decoration: none;
}

.btn svg {
    left: 15px;
    width: 100%;
    height: 45px;
    position: absolute;
}

.btn svg rect {
    fill: none;
    width: 100%;
    height: 100%;
    stroke-width: 2;
    stroke: black;
    stroke-dasharray: 422, 0;
    @include transition(all 1300ms $ease-out-expo);
}

.btn:hover svg rect {
    stroke-width: 2.5px;
    stroke-dasharray: 10, 310;
    stroke-dashoffset: 33;
}

.btn:hover {
    color:#000;
    font-size:1.8vmin;
    letter-spacing:2px;
    font-weight:bold;
}

/*---- Button Ends----*/

/*---- Form Starts ----*/
input:focus {
    outline: 0;
    border-bottom: 1.5px solid black; 
}
  
.signin_form {
    position: absolute;
    position: absolute;
    top: 9vmin;
    padding-left: 2vmin;
}

.signin_form span{
    color: #888;
    display: block;
    font-size: 1.6vmin;
    padding-top: 5px;
    letter-spacing: 4px;
}
    
input {
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #999;
    border-right: 1px solid transparent;
    width: 25vmin;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0.1px;
}
/*---- Form Ends ----*/

/*---- Footer Starts----*/
.footer{
    position: sticky;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10vmin;
    right: 0;
    left: 0;
    bottom: 0;
}
/*---- Footer Ends----*/

/*---- The to Top icon Starts----*/
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:1vmin;
	right:7vmin;
	overflow:hidden;
	width:2vmin;
	height:2vmin;
	border:none;
	background:url(../img/to-top1.png) no-repeat left top;
}

#toTopHover {
	background:url(../img/to-top1.png) no-repeat left -51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}
/*---- The to Top icon Ends----*/

