    * {
        -webkit-transition-property: all;
        -webkit-transition-duration: .2s;
        -moz-transition-timing-function: cubic-bezier(100,50,21,6);
        -moz-transition-property: all;
        -moz-transition-duration: .2s;
        -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    }

    .btn {
        position: relative;
        float: right;
        display: flex;
        align-items: center;
        width: 160px;
        height: 45px;
        font-size: 1.4vmin;
        font-weight: 600;
        letter-spacing:1px;
        line-height: 45px;
        text-align: center;
        justify-content: center;
        color: #000;
        cursor: pointer;
        overflow: hidden;
    }

    .btn svg {
        left: 15px;
        width: 160px;
        height: 45px;
    }

    .btn svg rect {
        fill: none;
        stroke: #000;
        stroke-width: 2;
        stroke-dasharray: 422, 0;
        @include transition(all 1300ms $ease-out-expo);
    }

    .btn:hover svg rect {
        stroke-width: 2.5;
        stroke-dasharray: 10, 310;
        stroke-dashoffset: 33;
    }

    .btn:hover {
        color:#000;
        font-size:1.8vmin;
        letter-spacing:2px;
        font-weight:bold;
    }


/*---- Footer ----*/
.footer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10vmin;
}
/*---- Footer ----*/

/*---- The to Top icon ----*/
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:1vmin;
	right:7vmin;
	overflow:hidden;
	width:2vmin;
	height:2vmin;
	border:none;
	background:url(../img/to-top1.png) no-repeat left top;
}

#toTopHover {
	background:url(../img/to-top1.png) no-repeat left -51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}
/*---- The to Top icon ----*/

