.row {
    clear: both;
}

div {
    display: block;
}

[class*='col-'] {
    float: left;
    width:100%;
}

.clear-col {
    clear:both;
    float:inherit;
}

.container {
    width: 100%;
}

.container:after, .container:before {
    display: table;
    clear:both;
    content: " ";
}

/*---- Mobile----*/
@media screen and (max-width:520px) {
    /*---- mobile row height ----*/
    #toTop {
        visibility: hidden;
    }
    
    .col-m-12 {
        width: 100%;
    }
    .col-m-11 {
        width: 91.666663%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-9 {
        width: 74.999997%;
    }
    .col-m-8 {
        width: 66.66666664%;
    }
    .col-m-7 {
        width: 58.333%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-5 {
        width: 41.6665%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-3 {
        width: 24.99%;
    }
    .col-m-2 {
        width: 16.66666%;
    }
    .col-m-1 {
        width: 8.33%;
    }
}

/*---- Bigger than Tablet----*/
@media screen and (min-width: 520px) { 
    .col-12 {
        width: 100%;
    }
    .col-11 {
        width: 91.666663%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-9 {
        width: 74.999997%;
    }
    .col-8 {
        width: 66.66666664%;
    }
    .col-7 {
        width: 58.333%;
    }
    .col-6 {
        width: 50%;
    }
    .col-5 {
        width: 41.6665%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-3 {
        width: 24.99%;
    }
    .col-2 {
        width: 16.66666%;
    }
    .col-1 {
        width: 8.33%;
    }
}

/*---- Desktop----*/
@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1400px;
        margin: 0 auto;
    }
    
    .head_fixed {
        max-width: 1400px;
    }
    
    .container-fluid {
        max-width: 90%;
        margin:0 5%;
    }
}