/*---- Home Starts ----*/
.home_web_big{
    background-image: url(../img/homepage.png);
}
.img_intro {
    cursor: pointer;
}
.intro_option {
    width: 100%;
}
.home_content .btn svg{
        width: 100%;
}
.home_content .btn svg rect{
        width: 100%;
}
.content_outer_box_right .btn{
    color: #f8f8f8;
}

.intro_option:active .option_icon{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.intro_option .img3_intro {
    color: lightgray;
}
.content_outer_box_right .btn:hover{
    color: #f8f8f8;
}

.content_outer_box_right .btn svg rect{
    stroke: #f8f8f8;
}


@media screen and (max-width:1000px){
    
}

@media screen and (max-width:720px){
    .img_featured, .img_featured_white{
        font-size: 2vmin;
    }
}

/*---- Mobile----*/
@media screen and (max-width:520px) {
    /*---- Home Page Starts ----*/
    .home_web_big {  
        padding-top: 40%;
    }
    
    .home_content .content_bg {
        padding-top: 85%;
    }
    
    .content_1 .product_img_left {
        background-image: url(../img/homephoto1-wide.png);
        padding-top: 50%;
    }
    
    .content_1 .product_img_right {
        display: none;
    }
    .content_2 .empty{
        display: none;
    }
    
    .content_2 .content_bg.right_align{
        padding-top: 75%;
    }
    .content_2 .product_img_right {
        background-image: url(../img/homephoto4-wide.png);
        padding-top: 45%;
    }
    
    .content_3 .product_img {
        background-image: url(../img/row3p2.png);
        padding-top: 60%;
    }
    
    .home_content .img_featured{
        margin-top: 0;
    }
    
    .home_content .btn{
        width: 100%;
        font-size: 3vmin;
    }
    .home_content .btn:hover{
        font-size: 3.5vmin;
    }
    
    .home_content .btn svg{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0vmin;
    }
    
    .home_content .btn svg rect{
        width: 100%;
    }
    
    .content_outer_box_left {
        left: 5vmin;
        width: 100%;
    }
    
    .content_outer_box_right {
        width: 90%;
    }
    .home_content .img_featured {
        font-size: 2.3vmin;
        font-weight: 600;
    }

    .home_content .img_title {
        font-size: 4vmin;
        font-weight: 600;
        margin-top: -1vmin;
        padding-top: -1vmin;
    }
    
    .home_content .img_intro{
        font-size: 2.5vmin;
        font-weight: 600;
        letter-spacing: 1px;
        margin-top: -10px;
    }

    .home_content .btn {
        margin-top: 3vmin;
    }
    .home_content .img_introduction{
        font-size: 2.7vmin;
    }
}

/*---- Bigger than Mobile----*/
@media screen and (min-width: 520px) { 
     /*---- Home Page Starts ----*/
    .home_web_big {
        padding-top: 42%;
        margin-top: 0vmin;
    }
    .content_1 .content_inner_box {
        margin-top: 10%;
    }
    .content_2 .content_inner_box {
         margin-top: 5%;
    }
    .home_content .img_featured {

        margin-top: 0;
    }

    .home_content .img_title {
        font-size: 3vmin;
        margin-top: -1vmin;
        padding-top: -1vmin;
    }
    
    .home_content .img_intro{
        font-size: 1.5vmin;
        font-weight: 600;
        margin-top: -10px;
    }
    .home_content .img_introduction{
        font-size: 1.6vmin; 
        font-weight: 400;
    }

    .home_content .content_bg {
        padding-top: 50%;
    }
    
    .content_1 .product_img_left {
        background-image: url(../img/homephoto1.png);
    }
    
    .content_1 .product_img_right {
        background-image: url(../img/homephoto3.png);
    }
    
    .content_2 .product_img_right {
        background-image: url(../img/homephoto4.png);
    }
    
    .content_3 .product_img {
        background-image: url(../img/row3p2.png);
    }
    
    .content_1 .btn , .content_3 .btn{
        margin-top: 0vmin;
        width: 80%;
        left: -1vmin;
    }
    
    .content_2 .btn{
        margin-top: 0vmin;
        width: 33%;
        left: -1vmin;
    }
    
    .home_content .btn svg{
        width: 100%;
        left: 0vmin;
        padding-left: 1vmin;
    }
    .content_outer_box_left .btn{
        float: right;
    }
    .content_outer_box_right .btn{
        float: left;
    }
    .content_outer_box_right{
        margin-top: 5%;
    }
    .home_line1{
    position: absolute;
    top: 17vmin;
    left: -3.5vmin;
    height: 2px;
    width: 70px;
    background-color: black;
    z-index: 100000;
    }
    .home_line2{
        position: absolute;
        top: 16.5vmin;
        left: -3.5vmin;
        height: 2px;
        width: 70px;
        background-color: black;
        z-index: 100000;
    }
    .home_line3{
        position: absolute;
        top: 34%;
        left:-5em;
        height: 2px;
        width: 70px;
        background-color: white;
    }
}
@media screen and (min-width: 800px) {
    .home_web_big {
        margin-top: 60px;
    }
    
}
/*---- Bigger than Tablet----*/
@media screen and (min-width: 1000px) {
    .home_content .content_bg {
        padding-top: 42%;
    }
    .home_content .btn{
        width: 20vmin;
        margin-top: 5vmin;
    }
    .content_1 .btn{
        width: 20vmin;
    }
    .content_2 .btn{
        width: 23%;
    }
}