/*---- Login ----*/
/*---- Contact ----*/
/*---- Index ----*/
/*---- Index ----*/
/*---- Mobile ----*/
/*---- Bigger than Tablet ----*/

/*---- Login Page Starts ----*/
    /*---- Insction Row ----*/
.content_bg{
}

    .login_instruction .empty {
        padding-top: 4%;
    }

    .login_instruction .instruction_text {
        padding-top: 4%;
       
    }

    .instruction_text_t {
        position: absolute;
        top: .01vmin;
        padding-left: 2vmin;
        font-size: 2vmin;
        font-weight: 600;
    }

    /*---- Signin or Sign up ----*/
    .login_signup .empty {
        padding-top: 40%;
   
    }

    .login_part {
        padding-top: 40%;
    }

    .login_name {
        position: absolute;
        top: 1vmin;
        padding-left: 2vmin;
        font-size: 1.5vmin;
        font-weight: 600;
    }

    .what_to_do {
        position: absolute;
        top: 3.5vmin;
        padding-left: 2vmin;
    }
    .login_btn{
        position: absolute;
        margin-top: -50%;
    }
    .sign_up_btn{
         position: absolute;
         margin-top: -50%;
    }
    .signin_form{
        margin-top: 15%;
    }
    .signup_part {
        padding-top: 40%;
    }

    .login_top{
   
        position: relative;
        display: flex;
        align-content: center;
        text-align: center;
        justify-content: center;
    }

    .login_top .login_title{
        font-size: 4vmin;
        padding-bottom: 5vmin;
        padding-top: 10vmin;
       margin-left: -12vmin;
    }
    .form-frame span{
        color: #888;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        display: block;
        font-size: 12px;
        padding-top: 5px;
        letter-spacing: 4px;
    }


/*---- Login Page Ends ----*/


/*---- Mobile----*/
@media screen and (max-width:520px) {

}

/*---- Bigger than Mobile----*/
@media screen and (min-width: 520px) { 

}

@media screen and (min-width: 800px) {
    .login_content {
        margin-top: 14vmin;
    }
    .login_content .btn{
        position: relative;
        width: 200%;
        float: left;
        margin-left: 30%;
        margin-top: 20px;
    }
    
    .login_content .btn svg{
        width: 100%;
    }
    
    .login_content .btn rect{
        width: 100%;
    }
    
    .contact_content {
        margin-top: 60px;
    }
}
  