
.payment_top{
        background-image: url(../img/c.jpg)
        position: relative;
        display: flex;
        align-content: center;
        text-align: center;
        justify-content: center;
    }



@media screen and (max-width: 540px) {
    .payment_top .login_title{
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 1px;
        padding-bottom: 5vmin;
    }

    .login_btn .btn{
        margin-top: 70px;
        position: relative;
        width: 90%;
        float: left;
        margin-left: 5%;
        margin-bottom: 10%;
    }
    
    .login_btn .btn svg{
        width: 100%;
    }
    
    .login_btn .btn svg rect{
        width: 100%;
    }

.signin_form .form_left{
    width: 50%;
    float: left;
}
.signin_form .form_right{
    width: 50%;
    float: right;
}
.signin_form .form_full{
    width: 100%;
}
    .signin_form{
        display: block;
        position: relative;
        margin-top: -5%;
        width: 100%;
    }

.payment {
    width: 100%;
    display: block;
    position: relative;
    margin-top: 150px;
}
.payment_form input{
    margin-top: 4vmin;
    padding-left: px;
    width: 10px;
}
.payment_form label{
    margin-right: 35vmin;
}
.radio_btn {
    width: 100%;
}

    .here-to-there input {
        background-color: transparent;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid #999;
        border-right: 1px solid transparent;
        width: 40%;
        font-size: 1.2rem;
        font-weight: 100;
        letter-spacing: 0.1px;
    }
.here-to-there span{
    letter-spacing: 1px;
    font-size: 0.8rem;
}
    .black_line{
        margin-top: 2vmin;
    width: 100%;
    height: 1px;
    color: black; 
    position: absolute
    height: 2px;
    background-color: black;
    z-index: 100000;   
}
.sign_form_payment{
    display: block;
    position: relative;
}
    .form_right, .form_left, form_full{
        display: block;
        position: relative;
    }
    
}

@media screen and (min-width: 540px) {
    .payment_top .login_title{
        font-size: 2vmin;
        font-weight: 600;
        letter-spacing: 1px;
        padding-bottom: 5vmin;
        margin-top: 120px;
    }

    .login_part {
        margin-left: 16.66666%;
    }

    .login_btn .btn{
         margin-top: 140px;
        position: relative;
        width: 50%;
        float: left;
        margin-bottom: 10%;
    }
    
    .login_btn .btn svg{
        width: 100%;
    }
    
    .login_btn .btn svg rect{
        width: 100%;
    }

.signin_form .form_left{
    width: 50%;
    float: left;
}
.signin_form .form_right{
    width: 50%;
    float: right;
}
.signin_form .form_full{
    width: 100%;

}
    .signin_form{
        display: block;
        position: relative;
        margin-top: -5%;
        width: 100%;
    }

.payment {
    width: 100%;
    display: block;
    position: relative;
    margin-top: 250px;
}
.payment_form input{
    margin-top: 4vmin;
    padding-left: px;
    width: 10px;
}
.payment_form label{
    margin-right: 35vmin;
}
.radio_btn {
    width: 100%;
}

    .here-to-there input {
        background-color: transparent;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid #999;
        border-right: 1px solid transparent;
        width: 40%;
        font-size: 12px;
        font-weight: 100;
        letter-spacing: 0.1px;
    }
.here-to-there span{
    letter-spacing: 1px;
}
    .black_line{
        margin-top: 2vmin;
    width: 100%;
    height: 1px;
    color: black; 
    position: absolute
    height: 2px;
    background-color: black;
    z-index: 100000;   
}
.sign_form_payment{
    display: block;
    position: relative;
}
    .form_right, .form_left, form_full{
        display: block;
        position: relative;
    }
    
}