    .payment_top{
        background-image: url(../img/c.jpg)
        position: relative;
        display: flex;
        align-content: center;
        text-align: center;
        justify-content: center;
    }

    .payment_top .login_title{
        font-size: 2vmin;
        font-weight: 600;
        letter-spacing: 1px;
        padding-bottom: 5vmin;
     
    }

    .login_signup .empty {
        padding-top: 40%;
   
    }

    .login_part {
        padding-top: 40%;
    }

    .login_name {
        position: absolute;
        top: 1vmin;
        padding-left: 2vmin;
        font-size: 1.5vmin;
        font-weight: 600;
    }

    .what_to_do {
        position: absolute;
        top: 3.5vmin;
        padding-left: 2vmin;
    }
    .login_btn{
        position: absolute;
        margin-top: 0%;
    }
    .sign_up_btn{
         position: absolute;
         margin-top: -50%;
    }
    .signin_form{
        margin-top: -8%;
        margin-left: -1.58%
  
    }

    .here-to-there input {
        background-color: transparent;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid #999;
        border-right: 1px solid transparent;
        width: 300%;
        font-size: 12px;
        font-weight: 100;
        letter-spacing: 0.1px;
    }
.here-to-there span{
    letter-spacing: 1px;
}
    .black_line{
    width: 100%;
    height: 1px;
    color: black; 
    position: absolute
    height: 2px;
    background-color: black;
    z-index: 100000;   
}
.form-left{
    position: absolute;
}
.form-right{
    margin-left: 50%;
    position: absolute;
}


@media screen and (min-width: 800px) {
    .login_content {
        margin-top: 14vmin;
    }

    .login_content .btn{
        top: 50vmin;
    }
    
    .contact_content {
        margin-top: 11vmin;
    }
    .login_part h4{
    font-size: 1.55vmin;
    font-weight: 500;
    margin-top: -65%;
    letter-spacing: 1px;
}
    
}