.box{
    
}
.left_fixed_nav li{
    list-style: none;
    padding-bottom: 2vh;
    text-align: left;
}
.seperate_line{
    border-bottom: 1px solid lightgray;
    width: 6vw;;
}

/*.table_box{
    border:1px solid lightgrey;
}*/

.table_box td{
    text-align: center;
}

/*
.box_sp_line{
    border-top: 1px solid lightgray;
}*/