/*----Product details page----*/

.quantity_input {
    width: 5rem;
}
.intro_option {
    text-align: left;
}
.img_option_para{
    display: none;
}

.img_option{
    position: relative;
    cursor: pointer;
    font-size: 1.5vmin;
}
.intro_option:active .option_icon{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.first{
   padding-top: 16%;
}
.product_detail_img img{
    position: relative;
    width: 100%;
    margin-top: 2%;
}
.variant_colors {
    border-color: lightgray;
    padding: .4vmin;
}
.product_detail_des_content {
    position: relative;
   padding-top: 25%;
    padding-left: 10%;
  
}
.img_option:hover {
    font-weight: 600;
}

.img_option_para {
    padding-top: .4vmin;
    display: none;
    line-height: 1.6;
}
.product_details_group {
    border-top: 1px solid lightgray;
    padding-bottom: 1vmin;
    padding-top: .4vmin;
}
.price {
    margin-top: -1.2em;
    /*border-bottom: thin solid lightgray;*/
    padding-bottom: 1vmin;
}
.quantity_input {
    margin-top: 2vmin;
    margin-bottom: 3vmin;
    display: flex; 
    width: 100%;
    height: 6px;
}
.quantity_input input{
    margin: top;
}
/*
.quantity_input .minus{
    padding-bottom: 19px;
    margin-right: 5vmin;
}
.quantity_input .plus{
    margin-left: 5vmin;
    padding-bottom: 19px;
}*/
.variant_table {
    padding-bottom: 1vmin;
    width: 100%;
}

.variants {
}

.combine_products{
    margin-top: 7%;
}
.combine_line span{
    position: relative;
}
.combine_line span:before, .combine_line span:after {
    border-top: 1px solid #dfdfdf;
    content:"";
    position: absolute;
    top: 11px;
    right: 18em;
    bottom: 0;
    width: 205%;
}
.combine_line span:after {
    position: absolute;
    top: 11px;
    left:18em;
    right:0;
    bottom: 0;
}
/*---- Mobile----*/
@media screen and (max-width:780px) {
    .product_detail_des_group {
        position: relative;
        padding-left: 5vmin;
        padding-right: 5vmin;
        width: 100%;
    }
    .product_detail_des{
        position: relative;
        padding-top: 0;
        width: 100%;
    }
    
    .product_detail_des .img_title{
        font-size: 6vmin;
        margin-top: 2vmin;
        width: 100%;
    }
    
    .product_detail_des .img_featured{
        font-size: 3vmin;
        margin-top: 2vmin;
    }
    
    .product_detail_img{
        width: 100%;
    }

    .img_option_para{
        font-size: 1.4vmin;
        font-weight: 300;
    }
    .variants{
        width: 100%;
    }
    
    .quantity_input .price{
        padding-left: 10vmin;
        font-size: 3.5vmin;
        float: right;
        padding-top: 2vmin;
    }
    .quantity_input input{
        border-color: lightgrey;
        width: 4rem;
        height: 4rem;
        font-size: 3.5vmin;
        text-align: center;
        margin-top: 2vmin;
    }
    .quantity_input {
        margin-bottom: 4vmin;
        width: 100%
    }
    
    .buy_btn{
        width: 100%;
        margin-bottom: 1vmin;
       
    }
    .buy_btn .btn{
        width: 100%;
        height: 45px;
        padding-left: -6vmin;
        text-decoration: none;
    }
     .buy_btn .btn svg{
         left: 0;
         width: 100%;
    }
    .buy_btn .btn svg rect{
        width: 100%;
        
    }
    .variant_table, .quantity{
        width: 100%;
    }
    .variant_colors{
        font-size: 2.3vmin;
        padding-left: 2vmin;
        width: 100%;
    }
   
    .product_details_group .img_option_para{
        font-size: 1.4vmin;
    }
    .product_details{
        margin-bottom: 2vmin;
    }
}

/*---- Bigger than Tablet----*/
@media screen and (min-width: 780px) { 
    .product_detail_des_group {
        width: 40%;
        float: right;
        position: relative;
    }
    .product_detail_des_content {
        width: 100%;
    }
    .product_detail_img{
        position: relative;
        float: left;
        width: 41.6665%;
        margin-left: 8.33%;
    }
    .product_details_group {
        width: 100%;
    }
    .product_detail_des{
        position: fixed;
        height: 100%;
        padding-left: 8vmin;
        padding-top: 0;
    }

    .product_detail_des .img_title{
        width: 100%;
        font-size: 4.5vmin;
        margin-top: 2vmin;
    }
    
    .product_detail_des .img_featured{
        font-size: 2vmin;
        margin: 0;
    }

     .intro_option .img_option_para{
        font-size: 1.4vmin;
         letter-spacing: .4px;
        font-weight: 400;
    }
    .variant_table{
        width: 50%
    }
    .variant_colors{
        width: 100%;
    }
    .buy_btn .btn{
        position: relative;
        height: 45px;
        letter-spacing: 2px;
        float: left;
        margin-left: -8px;
        text-decoration: none;
    }
    .buy_btn .btn{
        position: relative;
        float: left;
        font-size: 1.7vmin;
        width: 100%;
        text-decoration: none;
    }
     .buy_btn .btn svg{
        width: 100%;
         left: 0;
         padding-left: 1vmin; 
    }
    .buy_btn .btn svg rect{
        width: 98%;
    }

    .product_details{
        margin-top: 1vmin;
        margin-bottom: 2vmin;
        width: 100%;
    }

    .price{
        font-size: 2.5vmin;
        float: left;
        width: 80%;
    }

    .solid{  
     border-style: solid;
     border-color: lightgrey;
     width: 2rem;
     height: 2rem;
    text-align: center;
    margin-bottom: 5vmin;

    }
    
   .solid:focus {
    outline: 0;
    border: 1.5px solid black; 
}

   
    .variant_table_label {
        font-size: 1.8vmin;
    }
    .whole_combine .content_bg{
        padding-top: 25%;
    }
    .cb_content1 .combine_img1 {
        background-image: url(../img/combie1-01.png);
      
    }
    .cb_content1 .combine_img2 {
        background-image: url(../img/combine2-01.png);
      
    }
    .cb_content1 .combine_img3 {
        background-image: url(../img/combine3-01.png);
      
    }
    .cb_content1 .combine_img4 {
        background-image: url(../img/combine4-01.png);
      
    }
    
    
}