.product_content .empty{
    height: 100vmin;;
    position: relative;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_fixed_nav li{
    list-style: none;
    padding-bottom: 2vh;
    text-align: left;
}
.seperate_line{
    border-bottom: 1px solid lightgray;
    width: 6vw;;
}

/*.table_box{
    border:1px solid lightgrey;
}*/

.table_box td{
    text-align: center;
}
@media screen and (max-width:800px) {

}
/*---- Bigger than Tablet----*/
@media screen and (min-width: 800px) { 
    .left_fixed_navigation {
        position: fixed;
    }
}