
.intro_option {
    text-align: left;
}
.img_option_para{
    display: none;
}

.img_option{
    position: relative;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.3vmin;
}
.img_option:hover {
    font-weight: 600;
}
.intro_option:active .option_icon{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.product_detail_img img{
    position: relative;
    width: 100%;
    display: block;
}
.variant_colors {
    border-color: lightgray;
    padding: .4vmin;
}
.product_detail_des_content {
    display: block;
    position: relative;
}
    .cb_content1 .combine_img1 {
        background-image: url(../img/combie1-01.png);
    }
    .cb_content1 .combine_img2 {
        background-image: url(../img/combine2-01.png);
    }
    .cb_content1 .combine_img3 {
        background-image: url(../img/combine3-01.png);
    }
    .cb_content1 .combine_img4 {
        background-image: url(../img/combine4-01.png);
    }
.product_details_group {
    border-top: 1px solid lightgray;
    padding-bottom: 1%;
    padding-top: 1%;
}
.price {
    margin-top: -1.2em;
    padding-bottom: 1vmin;
}
.quantity_input {
    margin-top: 5%;
    display: flex; 
    width: 100%;
}

.variant_table {
    padding-bottom: 1vmin;
}

.combine_products{
    margin-top: 7%;
}
.combine_line span{
    position: relative;
}
.combine_line span:before, .combine_line span:after {
    border-top: 1px solid #dfdfdf;
    content:"";
    position: absolute;
    top: 11px;
    right: 18em;
    bottom: 0;
    width: 100%;
}
.combine_line span:after {
    position: absolute;
    top: 11px;
    left:18em;
    right:0;
    bottom: 0;
}
/*---- Mobile----*/

@media screen and (max-width:540px){
         .product_detail_img{
        width: 100%;
    }
    .product_detail_des_group {
        position: relative;
        padding: 5%;
    }
    .product_detail_des{
        position: relative;
        padding-top: 0;
        width: 100%;
       display: flex;
        justify-content: center;
        text-align: center;
        height: 100%;
    }
    .product_detail_des_content {
        width: 100%;
    }

    .product_detail_des .img_title{
        font-size: 1.5rem;
        margin-top: 2vmin;
        width: 100%;
        text-align: center;
        font-weight: 500;
    }

    .img_option_para{
        font-size: 0.7rem;
        font-weight: 300;
        text-align: center;
    }
    .variants{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .product_detail_des_content .price{
        font-size: 1rem;
        text-align: center;
    }
    .product_detail_des_content input{
        border-color: lightgrey;
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
        text-align: center;
        margin-top: 2vmin;
    }
    
    .buy_btn .btn{
        margin-top: 5%;
        position: relative;
        width: 100%;
        float: right;
        margin-bottom: 10%;
    }
    .buy_btn .btn svg{
        width: 100%;
    }
    .buy_btn .btn svg rect{
        width: 100%;
    }
    .variant_table .variant_table_label {
        font-size: 0.8rem;
    }
    .variant_table, .quantity{
        width: 100%;
    }
    .variant_colors{
        margin-top: 5%;
        font-size: 1rem;
        width: 100%;
        padding: 2%;
    }

    .product_details{
        margin-bottom: 2%;
        width: 100%;
        
    }
    .quantity_input p{
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }
    .product_details .intro_option{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: .5px;
        font-weight: 300;
        margin-bottom: 5%;
    }
    .img_option {
        font-size: 0.8rem;
        text-align: center;
    }
    .whole_combine .content_bg{
        padding-top: 25%;
    }
    
    .combine_products span {
        font-size: 0.6rem;
    }
    
    .cb_content1 .combine_img1{
        background-image: url(../img/cbw1.jpg);
        padding-top: 50%;
    
    }
      .cb_content1 .combine_img2{
        background-image: url(../img/cbw2.jpg);
        padding-top: 50%;
    
    }
    
      .cb_content1 .combine_img3{
        background-image: url(../img/cbw3.jpg);
        padding-top: 50%;
    
    }
      .cb_content1 .combine_img4{
        background-image: url(../img/cbw4.jpg);
        padding-top: 50%;
    }
    .combine_line{
        text-align: center;
    }
}
@media screen and (min-width:540px) {
    .product_detail_des_group {
        width: 41.6665%;
        margin-top: 60px;
        float: right;
        position: relative;
    }
    .product_detail_des_content {
    }
    .product_detail_img{
        position: relative;
        float: left;
        margin-top: 60px;
        width: 41.6665%;
        margin-left: 8.33%;
    }
    .product_details_group {
        width: 80%;
    }
    .product_detail_des{
        height: 100%;
        padding-top: 0;
    }

    .product_detail_des_content .img_title{
        width: 100%;
        font-size: 3.5vmin;
        margin-top: 2vmin;
        font-weight: 500;
    }
    
     .intro_option .img_option_para{
        font-size: 1.4vmin;
         letter-spacing: .4px;
        font-weight: 400;
    }
    .variant_table{
        width: 30vmin;
    }
    .variant_colors{
        width: 100%;
    }
    .buy_btn .btn{
        margin-top: 5%;
        position: relative;
        width: 100%;
        float: right;
        margin-bottom: 10%;
    }
    .buy_btn .btn svg{
        width: 100%;
    }
    .buy_btn .btn svg rect{
        width: 100%;
    }

    .product_details{
        margin-top: 1vmin;
        margin-bottom: 2vmin;
        width: 100%;
    }

    .price{
        font-size: 1.8vmin;
        float: left;
        width: 80%;
    }

    .solid{  
     border-style: solid;
     border-color: lightgrey;
     width: 2rem;
     height: 2rem;
    text-align: center;
    margin-bottom: 5vmin;

    }
    
   .solid:focus {
        outline: 0;
        border: 1.5px solid black; 
    }

    .variant_table_label {
        font-size: 1.8vmin;
    }
    .whole_combine .content_bg{
        padding-top: 25%;
    }
}

/*---- Bigger than Tablet----*/
@media screen and (min-width: 800px) { 
    .product_detail_des_group {
        width: 41.6665%;
        margin-top: 13vmin;
        float: right;
        position: relative;
    }
    .product_detail_des_content {
    }
    .product_detail_img{
        position: relative;
        float: left;
        margin-top: 14vmin;
        width: 41.6665%;
        margin-left: 8.33%;
    }
    .product_details_group {
        width: 80%;
    }
    .product_detail_des{
        height: 100%;
        padding-top: 0;
    }

    .product_detail_des_content .img_title{
        width: 100%;
        font-size: 3.5vmin;
        margin-top: 2vmin;
        font-weight: 500;
    }
    
     .intro_option .img_option_para{
        font-size: 1.4vmin;
         letter-spacing: .4px;
        font-weight: 400;
    }
    .variant_table{
        width: 30vmin;
    }
    .variant_colors{
        width: 100%;
    }
    .buy_btn .btn{
        margin-top: 5%;
        position: relative;
        width: 100%;
        float: right;
        margin-bottom: 10%;
    }
    .buy_btn .btn svg{
        width: 100%;
    }
    .buy_btn .btn svg rect{
        width: 100%;
    }

    .product_details{
        margin-top: 1vmin;
        margin-bottom: 2vmin;
        width: 100%;
    }

    .price{
        font-size: 2.5vmin;
        float: left;
        width: 80%;
    }

    .solid{  
     border-style: solid;
     border-color: lightgrey;
     width: 2rem;
     height: 2rem;
    text-align: center;
    margin-bottom: 5vmin;

    }
    
   .solid:focus {
        outline: 0;
        border: 1.5px solid black; 
    }

    .variant_table_label {
        font-size: 1.8vmin;
    }
    .whole_combine .content_bg{
        padding-top: 25%;
    }

    
    
}