
h2 {
    font-size: 3vmin;
    font-weight: 500;
    font-size: 1.5rem;
}

h3{
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
}
.hoveron_btn:hover {
    color: #F896A9;
    font-weight: 500;
}
.hoveron_btn{
    cursor: pointer;
}
.hoveron_btn_content{
    display: none;
}

.hoveron_btn:active .expand_icon{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
    /*---- Website Name ----*/
    /*----For Style Guide ----*/
    .sg_web_name {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 2px;
    }

.title{
    font-weight: 500;
    text-align: center;
}

/*---- Interactive Elements ----*/
    /*---- Navigation Button ----*/
    .button_style_l {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
        
    .button_style_r {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
          background-color: #f8f8f8;
        border-color: white;
        border: 5px;
    }  
    /*---- Navigation Button ----*/

    /*---- In Text Link ----*/
    .in_text_link_l{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #f8f8f8;
        border-color: white;
        border: 5px;
    }
    
    .in_text_link_r{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .in_text_link_r p{
        padding-left: 5vmin;
        padding-right: 5vmin;
}

    .in_text_link a:link{
        color: #F896A9;
        background-color: transparent;
        text-decoration: none;
    }

    .in_text_link a:visited{
        color: #E0DDC6;
        background-color: transparent;
        text-decoration: none;
    }
    
    .in_text_link a:hover{
        color: #F896A9;
        background-color: transparent;
        text-decoration: underline;
    }

    .in_text_link a:active {
        color:#A3BEC6;
        background-color: transparent;
        text-decoration: underline;
    }
    /*---- In Text Link ----*/

    /*---- Submit Button Section----*/
    .submit_button_l{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .submit_button_r {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
          background-color: #f8f8f8;
        border-color: white;
        border: 5px;
    }

        /*---- Submit Button ----*/


    * {
        -webkit-transition-property: all;
        -webkit-transition-duration: .2s;
        -moz-transition-timing-function: cubic-bezier(100,50,21,6);
        -moz-transition-property: all;
        -moz-transition-duration: .2s;
        -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    }

    .btn {
        position: relative;
        display: inline-block;
        font-weight: 500;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        color: #000;
        cursor: pointer;
        overflow: hidden;
    }

    .btn svg {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
    }

    .btn svg rect {
        fill: none;
        stroke: #000;
        stroke-width: 2;
        stroke-dasharray: 422, 0;
        @include transition(all 1300ms $ease-out-expo);
    }

    .btn:hover svg rect {
        stroke-width: 3;
        stroke-dasharray: 10, 310;
        stroke-dashoffset: 33;
    }

    .btn:hover {
        color:#000;
        letter-spacing:1px;
        font-weight:bold;
    }

        /*---- Submit Button----*/
    /*---- Submit Button Section----*/

    
    
    .textinput-banner-right{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textinput-banner-left{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #f8f8f8;
        border-color: white;
        border: 5px;
    }

    /* TEXT INPUT FIELD*/
    *:focus {
        outline: 0;
        border-bottom: 1.5px solid black; 
    }
  
    .here-to-there {
        height: 100%;
        width: 100%;
    }


    .off-canvas {
        position: relative;
    }

    .form-frame span{
        color: #888;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        display: block;
        padding-top: 5px;
        letter-spacing: 4px;
    }
    
    input {
        background-color: transparent;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid #999;
        border-right: 1px solid transparent;
        font-weight: 100;
        letter-spacing: 0.1px;
    }

    textarea{
        background-color:transparent;
        border-top: 1px solid #999;
        border-left: 1px solid #999;
        border-bottom: 1px solid #999;
        border-right: 1px solid #999;
        color: black;
        line-height: 18px;
        padding: 4px 0px;
        margin-top: 10px;
    }

    input{
        background-color:transparent;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid #999;
        border-right: 1px solid transparent;
    }


    textarea:focus{
        outline: 0;
        border: 1.5px solid black; 
    }

/* TEXT INPUT FIELD ENDS*/
    .sub_title {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .headings {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        float: left;
        padding-top: 2%;
    }

    .heading-size1{
        font-weight: 500;
    }

    .heading-size2{
        font-weight: 400;
    }

    .heading-size3{
        font-weight: 400;
    }
    
    /* Paragraph Style*/
    .paragraphs_l{
        text-align: right;
        color: #3f3f3f;
        float: right;
    }

    .paragraphs_r{
        letter-spacing: 0.2px;
        line-height: 180%;
        -webkit-background-size: cover;
        background-size: cover;
        -moz-background-size: cover;
    }

    /* Paragraph Style*/

    /* Number List Style*/
    .list_l{
        color: #3f3f3f;
    }

    .list_r {
        padding-top: 1%;
        letter-spacing: 0.2px;
        line-height: 180%;
        -webkit-background-size: cover;
        background-size: cover;
        -moz-background-size: cover;
    }
    /* Number List Style*/


    /*products images diaplay*/

    .rec {
        display: block;
        background-color:#f8f8f8;
        border: none;
        margin-bottom: 5%;
        margin-left: 5vmin;
    }
    

    .product-list h2{
        padding-left: 5vmin;
    }

    /*products images diaplay ends*/
    #toTop {
        position: fixed;
        bottom: 10px;
        right: 3%;
        width: 40px;
        height: 40px;
        background: url("img/to-top1.png") no-repeat 0px 0px;
    }

@media screen and (max-width:540px){
        .mobile_hide{
        display: none;
    }
    h2 {
    font-size: 0.9rem;
}

h3{
    font-size: 0.6rem;
}

    .sg_web_name {
        margin-top: 5%;
        margin-bottom: 5%;
    }

.title{
    font-size: 5vmin;
}

    .button_style_l, .button_style_r, .in_text_link_l, .in_text_link_r, .submit_button_l, .submit_button_r, .textinput-banner-right, .textinput-banner-left {
        position: relative;
        height: 100%;
    }

    .btn {
        margin-top: 10%;
        width: 166px;
        height: 45px;
        margin-bottom: 10%;
    }

    .style_guide p, code{
        font-size: 0.8rem;
        font-weight: 300;
    }

    .off-canvas {
        width: 300px;
        height: 250px; 
    }

    .form-frame {
        width: 300px;
        margin-top: 5%;
    }

    .form-frame span{
        font-size: 0.7rem;
        margin-left: 15%;
    }
    
    input {
        width: 100%;
        font-size: 12px;
        margin-left: 15%;
    }

    textarea{
        width: 200px;
        font-size: 12px;
        height: 10vw;
        margin-left: 15%;
    }

    .sub_title {
        margin-top: 5%;
        background-color: #f8f8f8;
    }

    .code-space{
        font-size: 0.2rem;
    }

    .heading-size1{
        margin-top: 5%;
        font-size: 1.2rem;
    }

    .heading-size2{
        font-size: 1rem;
    }

    .heading-size3{
        font-size: 0.8rem;
        margin-bottom: 10%;
    }
    
    .paragraphs_l{
        text-align: center;
        padding-top: 5%;
        background-color: #f8f8f8;
        padding-bottom: 5%;
    }

    .paragraphs_r{
        padding-top: 5%;
        text-align: center;
        padding-bottom: 5%;
    }

    .paragraphs_r p{
        padding-left: 5vmin;
        padding-right: 5vmin;
    }

    .in_text_link p{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .list_l{
        text-align: center;
        background-color: #f8f8f8;
    }

    .list_r {
        padding-top: 1%;
        padding-left: 20%;  
    }

    .rect_box .rec {
        width: 300px;
        height: 2vw;
        margin-bottom: 5%;
    }
}

@media screen and (min-width:540px){
    .mobile_show{
        display: none;
    }

    .sg_web_name {
        margin-top: 10%;
        margin-bottom: 10%;
    }

.title{
    font-size: 3.5vmin;
}
    .button_style_r{
        float: right;
    }
    .button_style_l{
        float: left;
    }
    .button_style_l, .button_style_r, .in_text_link_l, .in_text_link_r, .submit_button_l, .submit_button_r, .textinput-banner-right, .textinput-banner-left {
        height: 300px;
    }

    .btn {
        width: 166px;
        height: 45px;
        font-size: 14px;
    }

    .btn:hover {
        font-size:1rem;
    }

    .off-canvas {
        width: 300px;
        height: 250px; 
    }

    .form-frame {
        width: 300px;
    }

    .form-frame span{
        font-size: 12px;
    }
    
    input {
        width: 300px;
        font-size: 12px;
    }

    textarea{
        width: 260px;
        font-size: 12px;
        height: 10vw;
    }

    .sub_title {
        margin-top: 10vmin;
    }

    .code-space{
        font-size: 12px;
    }

    .heading-size1{
        font-size: 5vmin;
    }

    .heading-size2{
        font-size: 4vmin;
    }

    .heading-size3{
        font-size: 3vmin;
    }
    
    .paragraphs_l{
        text-align: right;
        min-height: 20vw;
        padding-top: 10%;
        float: right;
    }

    .paragraphs_r{
        min-height: 20vw;
        padding-top: 10%;
    }

    .paragraphs_r p{
        margin-top: 3vmin;
        padding-left: 15vmin;
        padding-right: 5vmin;
    }

    .list_l{
        text-align: right;
        height: 200px;
        float: right;
    }

    .list_r {
        height: 200px;
        padding-right: 10%;
        padding-top: 1%;
        padding-left: 10%;  
    }

    .rect_box .rec {
        width: 800px;
        height: 2vw;
        margin-bottom: 5%;
        margin-left: 5vmin;
    }
}
@media screen and (min-width:800px){
    .button_style_l, .button_style_r, .in_text_link_l, .in_text_link_r, .submit_button_l, .submit_button_r, .textinput-banner-right, .textinput-banner-left {
        height: 450px;
    }
    
        .off-canvas {
        width: 300px;
        height: 350px; 
    }

    .form-frame {
        width: 300px;
    }

    .form-frame span{
        font-size: 12px;
    }
    
    input {
        width: 300px;
        font-size: 12px;
    }

    textarea{
        width: 260px;
        font-size: 12px;
        height: 10vw;
    }
}
