/*---- Text ----*/
body{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
}

p,a,span{
    transition: 0.5s all ease;
    -webkit-transition: 0.1s all ease;
    -moz-transition: 0.1s all ease;
    -o-transition: 0.1s all ease;
    -ms-transition: 0.1s all ease;
    text-decoration: none;
}

.left_align {
    text-align: left;
}

/*---- Heading ----*/
.logo h1{
    font-weight: 500;
    font-size: 2rem;
    color: black;
}

.img_featured {
    font-weight: 500;
    color: black;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.img_featured_white{
     font-weight: 500;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.img_title {
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.img_introduction{
        display: none;
        font-weight: 400;

}
/* .dark_grey_gb .img_introduction{
    color: aliceblue;
}*/
.dark_grey_gb .img_introduction{
    color: white;
    font-weight: 300;
}
.dark_grey_gb .img_title{
    color: white;
}
.img_description {
    font-weight: 400;
}

.product_price{
    font-weight: 700;
}
.price{
    font-size: 1.85vmin;
     font-weight: 400;
}
.variant_table_label {
        font-size: 1.35vmin;
    letter-spacing: .4px;
    }
.quantity_input p{
    font-size: 1.35vmin;
     letter-spacing: .4px;
}

/*---- Mobile less than 520px----*/
@media screen and (max-width:520px) {
    .right_align {
        text-align: left;
    }
    
    .img_featured {
        font-size: 2vmin;
    }

    .img_title {
        font-size: 6vmin;
    }

    .img_description {
        font-size: 4vmin;
    }
    
    nav ul ul li a{
        font-size: 3vmin;
    }
    
    .btn{
        font-size: 4vmin;
    }
    
    .what_to_do {
        font-size: 2.7vmin;
    }
}

/*---- Bigger than 520px Tablet ----*/
@media screen and (min-width: 520px) { 


    .right_align {
        text-align: right;
    }
    
    
    /*---- Heading ----*/
    .logo h1{
        font-size: 2rem;
        margin-top: 3.3vh;
    }

    .img_option_para{
        font-size: 2vmin;  
    }
    .combine_line {
        text-align: center;
    }
    .combine_products h2{
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
    }
  
    /*-----homepage img introduction -----*/

    .img_intro{
        color: #7e7e7e;
        letter-spacing: 1px;
    }

    /*-----homepage img introduction ends-----*/
    .img_description {
        font-size: 1.7vmin;
        letter-spacing: 0.5px;
        line-height: 1.55;
    }
    nav ul ul li a{
        font-size: 1.6vmin;
    }

    nav{
        font-size:1.6vmin;
    }
    .what_to_do {
        font-size: 1.4vmin;
    }
}

@media screen and (min-width:800px) {
    nav ul ul li a{
        font-size: 1.3vmin;
    }
    .contact_grey_line h2,  .location_title h2{
        text-align: left;
        padding-left: 2vw;
        font-size: 1.8vmin;
        font-weight: 600;
        padding-top: 1.5vh;
    }
    .contact_address h3{
        margin-left: 10%;
        margin-top: 10vh;
        font-size: 1.6vmin;
        font-weight: 600;
        text-align: left;
    }
    .contact_address p{
        text-align: left;
        margin-left: 10%;
        font-size: 1.35vmin;
        line-height: 2;
    }
}

