/*---- Text ----*/
body{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
}

p,a,span{
    transition: 0.5s all ease;
    -webkit-transition: 0.1s all ease;
    -moz-transition: 0.1s all ease;
    -o-transition: 0.1s all ease;
    -ms-transition: 0.1s all ease;
}

.left_align {
    text-align: left;
}
.home_line1{
    position: absolute;
    top: 50%;
    right: -10em;
    height: 2px;
    width: 70px;
    background-color: black;
}
.home_line2{
    position: absolute;
    top: 20%;
    right: -4em;
    height: 2px;
    width: 70px;
    background-color: black;
}
.home_line3{
    position: absolute;
    top: 37.5%;
    left:-5em;
    height: 2px;
    width: 70px;
    background-color: white;
}


/*---- Heading ----*/
.logo h1{
    font-weight: 500;
    font-size: 2rem;
}

.img_featured {
    font-weight: 500;
    color: black;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.img_featured_white{
     font-weight: 500;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.img_title {
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.img_option {
    font-size: 2vmin;
}

/* .dark_grey_gb .img_introduction{
    color: aliceblue;
}*/
.dark_grey_gb .img_introduction{
    color: white;
    font-weight: 300;
}
.dark_grey_gb .img_title{
    color: white;
}
.img_description {
    font-weight: 400;
}

.product_price{
    font-weight: 700;
}

/*---- Mobile less than 520px----*/
@media screen and (max-width:520px) {
    .right_align {
        text-align: left;
    }
    
    .img_featured {
        font-size: 5vmin;
    }

    .img_title {
        font-size: 6vmin;
    }

    .img_description {
        font-size: 4vmin;
    }
    
    header nav ul ul li a{
        font-size: 3vmin;
    }
    
    .btn{
        font-size: 4vmin;
    }
    
    .what_to_do {
        font-size: 2.7vmin;
    }
}

/*---- Bigger than 520px Tablet ----*/
@media screen and (min-width: 520px) { 
    .right_align {
        text-align: right;
    }

    /*---- Heading ----*/
    .logo h1{
        font-size: 2rem;
        margin-top: 4.1vh;
    }

    .img_featured {
        font-size: 2vmin;
    }

    .img_title {
  
        font-size: 3.8vmin;
    }
    /*-----homepage img introduction -----*/
    .img_introduction{
          display: none;
        font-weight: 400;
        font-size: 1.8vmin;
        line-height: 1.65;
    }
    
    .img_intro{
        color: #7e7e7e;
        letter-spacing: 1px;
        font-size: 1.6vmin;
    }
    .img_intro_white{
        color: white;
         letter-spacing: 1px;
        font-size: 1.6vmin;
    }
    
    /*-----homepage img introduction ends-----*/
    .img_description {
        font-size: 1.7vmin;
        letter-spacing: 0.5px;
        line-height: 1.55;
    }
    header nav ul ul li a{
        font-size: 1.6vmin;
    }

    nav{
        font-size:1.6vmin;
    }
    .what_to_do {
        font-size: 1.4vmin;
    }
}

@media screen and (min-width:800px) {
    header nav ul ul li a{
        font-size: 1.3vmin;
    }
}