/*---- Header ----*/
    .main_header {
        margin-top: 5%;
        margin-right: 5%;
        margin-left: 5%;
    }

    /*---- Website Name ----*/
    .website_name {
        padding-left: 10%;
        padding-top: 10%;
        float: left;
        text-align: left;
    }

    .title {
        padding-left: 10%;
        padding-bottom: 15%;
        float: left;
        text-align: left;
    }
    /*---- Website Name ----*/

    /*---- Main Navigation ----*/
        nav{
            padding-right: 10%;
            float: right;
            margin-top: 5%;
        }

        .top_nav{
           list-style: none;
            margin-top: 5%;
            float: left;
        }

        .top_nav li{
            display: inline-block;
            position:relative;
            font-size: 15px;
        }

        .top_nav a{
            color: black;
            display: block;
            padding: 10px;
            text-decoration: none;
        }

        .top_nav a:hover, .top_nav a:focus{
            -webkit-transition: box-shadow .5s ease;
            box-shadow: 0px -6px 0px #E0DDC6 inset;
        }

        .top_nav ul li a:hover .top_nav li{
            box-shadow: 0px -6px 0px #E0DDC6 inset;
        }

        .top_nav ul{
            display: none;
            list-style: none;
            position: absolute;
            min-width: 100%;
            background-color: #ffffff;
            box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
            font-size: 0.8rem; 
            padding: 5px;
        }

        .top_nav ul li{
            padding-top: 1px;
            float: none;
            width: 100%;
            font-size: 10px;
        }

        /*---- Current Page ----*/
            .active {
                box-shadow: 0px -6px 0px #E0DDC6 inset;
            }
        /*---- Current Page ----*/

        .top_nav li:hover ul{
            display: block;
        }

        .top_nav ul li:hover a{
            width: 100%;
            background-color: #E0DDC6;
        }

        ul.top_nav li.icon {
            display: none;
        }
    /*---- Main Navigation ----*/
/*---- Header ----*/

/*---- Interactive Elements ----*/
    /*---- Navigation Button ----*/
    .button_style_l {
        display: block;
        height: 35vw;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
        


    .button_style_r {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #E0DDC6;
        margin: 0%;
        height: 35vw;
        border-color: white;
        border: 5px;
    }
        
    /*---- Navigation Button ----*/

    /*---- In Text Link ----*/
    .in_text_link_l{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 35vw;
        background-color: #E0DDC6;
        border-color: white;
        border: 5px;
    }
    
    .in_text_link_r{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 35vw;
        padding: 11%;
    }

    .in_text_link a:link{
        color: #E0DDC6;
        background-color: transparent;
        text-decoration: none;
    }

    .in_text_link a:visited{
        color: #E0DDC6;
        background-color: transparent;
        text-decoration: none;
    }
    
    .in_text_link a:hover{
        color: #9ACAE5;
        background-color: transparent;
        text-decoration: underline;
    }

    .in_text_link a:active {
        color:#A3BEC6;
        background-color: transparent;
        text-decoration: underline;
    }
    /*---- In Text Link ----*/

    /*---- Submit Button Section----*/
    .submit_button_l{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 35vw;
    }

    .submit_button_r {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 35vw;
        background-color: #E0DDC6;
        border-color: white;
        border: 5px;
    }

        /*---- Submit Button ----*/
        .submit_button a {
            background-color: #E0DDC6;
            border: none;
            padding: 15px 32px;
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 1.2em;
            color: #111111;
            display: block;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            -webkit-transition: color 0.3s 0.1s ease-out;
            transition: color 0.3s 0.1s ease-out;
        }

        .submit_button a::before {
            position: absolute;
            width: 20em;
            height: 20em;
            line-height: 20em;
            -webkit-transition: box-shadow 0.5s ease-out;
            transition: box-shadow 0.5s ease-out;
            z-index: -1;
        }

        .submit_button a:hover {
            color: white;
        }

        .submit_button a:hover::before {
            box-shadow: inset 0 0 0 10em #ee3769;
        }
        /*---- Submit Button----*/
    /*---- Submit Button Section----*/

    
    
    .textinput-banner-right{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35vw;
    }

    .textinput-banner-left{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 35vw;
        background-color: #E0DDC6;
        border-color: white;
        border: 5px;
    }

    /* TEXT INPUT FIELD*/
    *:focus {
        outline: 0;
    }

    .here-to-there {
        height: 100%;
        /*position: relative;*/
        width: 100%;
    }


    .off-canvas {
        position: relative;
        width: 300px;
        height: 350px; 
    }

    .form-frame {
        width: 300px;
    }

    .form-frame span{
        color: #888;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        display: block;
        font-size: 12px;
        padding-top: 5px;
        letter-spacing: 4px;
    }

        /*when click to type the field text color will change*/
        .form-frame .contact-us .focus span{
        color: #000;
        font-family: 'Open Sans', sans-serif;
        transition: color 0.5s ease;
        letter-spacing: 1px;
    }


    input {
        background-color: transparent;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid #999;
        border-right: 1px solid transparent;
        width: 300px;
        font-size: 12px;
        font-weight: 100;
        letter-spacing: 0.1px;
    }

    textarea{
        background-color:transparent;
        border-top: 1px solid #999;
        border-left: 1px solid #999;
        border-bottom: 1px solid #999;
        border-right: 1px solid #999;
        width: 300px;
    }

    input{
        background-color:transparent;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid #999;
        border-right: 1px solid transparent;
        width: 20vw;
    }

    textarea{
        color: black;
        font-size: 12px;
        line-height: 18px;
        padding: 4px 0px;
        height: 10vw;
        width: 20vw;
        margin-top: 10px;
    }

    textarea:focus, input:focus{
        outline: 0;
    }

/* TEXT INPUT FIELD ENDS*/
    .sub_title {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 5%;
    }

    .headings {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        float: left;
        padding-top: 2%;
    }

    .code-space{
        font-size: 12px;
    }


    .heading-size1{
        font-size: 60px;
        font-weight: 600;
    }

    .heading-size2{
        font-size: 35px;
        font-weight: 600;
    }

    .heading-size3{
        font-size: 25px;
        font-weight: 600;
    }
    
    /* Paragraph Style*/
    .paragraphs_l{
        margin-left: 5%;
        text-align: right;
        color: #3f3f3f;
        min-height: 20vw;
        padding-top: 10%;
        padding-right: 3%;
        float: right;
    }

    .paragraphs_r{
        min-height: 20vw;
        padding-right: 10%;
        padding-top: 10%;
        letter-spacing: 0.2px;
        line-height: 180%;
        -webkit-background-size: cover;
        background-size: cover;
        -moz-background-size: cover;
        padding-left:4%;
    }
    /* Paragraph Style*/

    /* Number List Style*/
    .list_l{
        text-align: right;
        color: #3f3f3f;
        margin-left: 5%;
        min-height: 20vw;
        padding-top: 10%;
        padding-right: 3%;
        float: right;
    }

    .list_r {
        min-height: 20vw;
        padding-right: 10%;
        padding-top: 10%;
        letter-spacing: 0.2px;
        line-height: 180%;
        -webkit-background-size: cover;
        background-size: cover;
        -moz-background-size: cover;
        padding-left: 5.5%;  
    }
    /* Number List Style*/


    .list-banner-right {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 400px;
    }

    .rec {
        display: block;
        max-width: 10vw;
        height: 2vw;
        background-color: #E0DDC6;
        border: none;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    

    .product-list {
        margin-top: 5%;
        margin-bottom: 15%;
    }

    .product_img{
        margin: 15px 15px 0;
        position: relative;
        display: inline-block;
    }
    
    figure{
        width: 100%;
        overflow: hidden;
        margin: 2%;
    }

    #toTop {
        position: fixed;
        bottom: 10px;
        right: 3%;
        width: 40px;
        height: 40px;
        background: url("img/to-top1.png") no-repeat 0px 0px;
    }
