/*---- General ----*/
    /*---- Heading ----*/
    h1 {
        color: black;
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 0.5px;
    }
    
    h2 {
        font-weight: 600;
        font-size: 20px;
        color: #939393;
        letter-spacing: 0.5px;
    }
    
    h3 {
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 0.5px;
    }

    h4 {
        font-weight: 400;
        font-size: 18px;
        color:#939393;
        letter-spacing: 0.5px;
    }

    h5 {
        font-size: 15px;
        font-weight: 700;
        margin-top: 2px;
    }

    h6 {
        font-size: 15px;
        font-weight: 700;
        margin-top: 10px;
    }
    /*---- Heading ----*/

    /*---- Text ----*/
    body{
      font-family: 'Open Sans', sans-serif;
      margin:0;
      padding:0;
    }

    p,a,span{
      font-family: 'Open Sans', sans-serif;
      transition: 0.5s all ease;
      -webkit-transition: 0.5s all ease;
      -moz-transition: 0.5s all ease;
      -o-transition: 0.5s all ease;
      -ms-transition: 0.5s all ease;
    }
    /*---- Text ----*/
    
    empty_space.{
        display: block;
        background-color: brown;
        height: 400px;
        width: 100%;
    }
/*---- General ----*/

/*---- Header ----*/
    .main_header {
        margin-top: 20px;
    }
    .website_name {
        float: left;
        text-align: left;
    }

    /*---- Main Navigation ----*/

        ul.top_nav {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            float: right;
        }

        ul.top_nav li {
            float: left;
        }

        ul.top_nav li a {
            display: inline-block;
            color: #E0DDC6;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 17px;
        }

        ul.top_nav li a:hover {
            color: black;
            font-weight: 600;
            background-color: #E0DDC6;
        }

        ul.top_nav li.icon {
            display: none;
        }

    /*---- Main Navigation ----*/
/*---- Header ----*/

/*---- Interactive Elements ----*/
    /*---- Title ----*/
    .section_title {
        display: block;
        text-align: center;
        padding: 30px;
        margin-top: 20px;
    }
    /*---- Title ----*/

    /*---- Navigation Button ----*/
    .button_style_l {
        display: block;
        height: 400px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .button_style_r {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #E0DDC6;
        margin: 0%;
        height: 400px;
        border-color: white;
        border: 5px;
    }
    
        /*---- Drop Down Menu ---*/
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown_button {
            background-color: white;
            color: #E0DDC6;
            font-size: 13px;
            padding: 22px 13px 18px 13px;
            border: none;
            cursor: pointer;
        }

        .dropdown_content {
            display: none;
            position:absolute;
            background-color: #ffffff;
            min-width: 100px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            text-align: left;
            font-size: 0.8rem;
        }

        .dropdown_content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown:hover .dropdown_content {
            display: block;

        }

        .dropdown_content a:hover {
            color: black;
            font-weight: 600;
            background-color: #E0DDC6;
        }

        .dropdown:hover .dropdown_button{
            color: black;
            font-weight: 600;
            background-color: #E0DDC6;
        }
        /*---- Drop Down Menu ---*/
    /*---- Navigation Button ----*/

    /*---- In Text Link ----*/
    .in_text_link_l{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 400px;
        background-color: #E0DDC6;
        border-color: white;
        border: 5px;
    }
    
    .in_text_link_r{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 400px;
    }

    .in_text_link a:link{
        color: #E0DDC6;
        background-color: transparent;
        text-decoration: none;
    }

    .in_text_link a:visited{
        color: #E0DDC6;
        background-color: transparent;
        text-decoration: none;
    }
    
    .in_text_link a:hover{
        color: #9ACAE5;
        background-color: transparent;
        text-decoration: underline;
    }

    .in_text_link a:active {
        color:#A3BEC6;
        background-color: transparent;
        text-decoration: underline;
    }
    /*---- In Text Link ----*/

    /*---- Submit Button Section----*/
    .submit_button_l{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 400px;
    }

    .submit_button_r {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 400px;
        background-color: #E0DDC6;
        border-color: white;
        border: 5px;
    }

        /*---- Submit Button ----*/
        .submit_button a {
            background-color: #E0DDC6;
            border: none;
            padding: 15px 32px;
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 1.2em;
            color: #111111;
            display: block;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            -webkit-transition: color 0.3s 0.1s ease-out;
            transition: color 0.3s 0.1s ease-out;
        }

        .submit_button a::before {
            position: absolute;
            width: 20em;
            height: 20em;
            line-height: 20em;
            -webkit-transition: box-shadow 0.5s ease-out;
            transition: box-shadow 0.5s ease-out;
            z-index: -1;
        }

        .submit_button a:hover {
            color: white;
        }

        .submit_button a:hover::before {
            box-shadow: inset 0 0 0 10em #ee3769;
        }
        /*---- Submit Button----*/
    /*---- Submit Button Section----*/

    
    
    .textinput-banner-right{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
    }

    .textinput-banner-left{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 400px;
        background-color: #E0DDC6;
        border-color: white;
        border: 5px;
    }

    /* TEXT INPUT FIELD*/
    *:focus {
        outline: 0;
    }

    .here-to-there {
        height: 100%;
        /*position: relative;*/
        width: 100%;
    }


    .off-canvas {
        position: relative;
        width: 300px;
        height: 350px; 
    }

    .form-frame {
        width: 300px;
    }

    .form-frame span{
        color: #888;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        display: block;
        font-size: 12px;
        padding-top: 5px;
        letter-spacing: 4px;
    }

    /*when click to type the field text color will change*/
        .form-frame .contact-us .focus span{
        color: #000;
        font-family: 'Open Sans', sans-serif;
        transition: color 0.5s ease;
        letter-spacing: 1px;
    }


    input {
        background-color: transparent;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid #999;
        border-right: 1px solid transparent;
        width: 300px;
        font-size: 12px;
        font-weight: 100;
        letter-spacing: 0.1px;
    }

    textarea{
        background-color:transparent;
        border-top: 1px solid #999;
        border-left: 1px solid #999;
        border-bottom: 1px solid #999;
        border-right: 1px solid #999;
        width: 300px;
    }

    input{
        background-color:transparent;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid #999;
        border-right: 1px solid transparent;
        width: 300px;
    }

    textarea{
        color: black;
        font-size: 12px;
        line-height: 18px;
        padding: 4px 0px;
        height: 103px;
        resize:none;
        margin-top: 8px;
    }

    textarea:focus, input:focus{
        outline: 0;
    }

/* TEXT INPUT FIELD ENDS*/

    .sub_title {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100px;
        background-color: #E0DDC6;
        border-color: white;
        border: 5px;
    }

    .heading1 {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100px;
    }

    .heading2 {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100px;
    }

    .heading3 {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100px;
    }

    .code-space{
        margin-left:7%;
        font-size: 12px;
    }


    .heading-size1{
        margin-left: 6%;
        font-size: 60px;
        font-weight: 600;
    }

    .heading-size2{
        margin-left: 6%;
        font-size: 35px;
        font-weight: 600;
    }

    .heading-size3{
        margin-left: 6%;
        font-size: 25px;
        font-weight: 600;
    }

    .paragraphs-banner-left{
        text-align: left;
        color: #3f3f3f;
        min-height: 300px;
        padding-left: 10%;
        margin-left: 60px;
        padding-top: 5%;
    }
    
    .paragraphs-banner-left p{
        margin-top: 3px;
        font-size: 12px;
        color:#2a2a2a;
    }

    .paragraphs-banner-right{
        float: right;
        width: 70%; 
        min-height: 300px;
        padding-right: 10%;
        padding-top: 5%;
        position: relative;
        letter-spacing: 0.2px;
        line-height: 180%;
        -webkit-background-size: cover;
        background-size: cover;
        -moz-background-size: cover;
    }

    .list-banner-right {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 400px;
    }

    .list-banner-left {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 400px;
        background-color: #E0DDC6;
        border-color: white;
        border: 5px;
    }

    .product_img {
        max-width: 100%;
        height: auto;
    }
