
/*-- every content boxes --*/
.content_bg {
    position: relative;
    z-index: 0;
    background-size: cover;
    height: 0;
}

.content_outer_box_left {
    position: absolute;
    top: 5vmin;
    right: 5vmin;
   
}
.content_inner_box{
    position: relative;
}

.content_outer_box_right {
    position: absolute;
    top: 5vmin;
    left: 5vmin;
}

    .login_top{
        position: relative;
        display: flex;
        align-content: center;
        text-align: center;
        justify-content: center;
    }

    .login_top .login_title{
        font-size: 7vmin;
        padding-bottom: 5vmin;
    }
    /*---- Big Img on Top ----*/

    

    /*---- Contact Page ----*/
    /*---- Location Title ----*/
    .location_title {
        position: relative;
        background: #f8f8f8;
        background-size:cover;
        height: 0;
        padding-top: 13%;
    }

    .location_title .location_head{
        position: absolute;
        top: 0vmin;
        padding-left: 2vmin;
        font-size: 5vmin;
    }
    /*---- List of locations ----*/
    .contact_list {
        z-index: 100;
        position: relative;
        background: white;
        background-size:cover;
        height: 0;
        padding-top: 40%;
    }

    .contact_list  .location_t{
        position: absolute;
        top: 5vmin;
        padding-left: 2vmin;
        font-size: 2.5vmin;
    }

    .contact_list  .location_details{
        position: absolute;
        top: 12vmin;
        padding-left: 2vmin;
        padding-right: 2vmin;
        font-size: 1.5vmin;
    }
    /*----Contact Page----*/

    /*---- Login Page ----*/
    /*---- Insction Row ----*/
    .login_instruction .empty {
        position: relative;
        background: white;
        background-size:cover;
        height: 0;
        padding-top: 5%;
    }

    .login_instruction .instruction_text {
        position: relative;
        background: #f8f8f8;
        background-size:cover;
        height: 0;
        padding-top: 5%;
    }

    .instruction_text_t {
        position: absolute;
        top: .01vmin;
        padding-left: 2vmin;
        font-size: 2vmin;
        font-weight: 600;
    }
    /*---- Signin or Sign up ----*/
    .login_signup .empty {
        position: relative;
        background: white;
        background-size:cover;
        height: 0;
        padding-top: 40%;
    }

    .login_part {
        position: relative;
        background: white;
        background-size:cover;
        height: 0;
        padding-top: 40%;
    }

    .login_name {
        position: absolute;
        top: 1vmin;
        padding-left: 2vmin;
        font-size: 1.5vmin;
        font-weight: 600;
    }

    .what_to_do {
        position: absolute;
        top: 3.5vmin;
        padding-left: 2vmin;
        font-size: 1.2vmin;
    }

    

    /*---- TEXT INPUT FIELD ----*/
    *:focus {
        outline: 0;
        border-bottom: 1.5px solid black; 
    }
  
    .signin_form {
        position: absolute;
        position: absolute;
        top: 9vmin;
        padding-left: 2vmin;
    }

    .signin_form span{
        color: #888;
        display: block;
        font-size: 1.6vmin;
        padding-top: 5px;
        letter-spacing: 4px;
    }
    
    input {
        background-color: transparent;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid #999;
        border-right: 1px solid transparent;
        width: 25vmin;
        font-size: 12px;
        font-weight: 100;
        letter-spacing: 0.1px;
    }

    .signup_part {
        position: relative;
        background: white;
        background-size:cover;
        height: 0;
        padding-top: 40%;
    }
    /*----Contact Page----*/

    /*----Shopping Cart----*/
    .shopping_cart_title {
        margin-top: 5vmin;
    }

    .shopping_cart_title .empty {
        position: relative;
        background: white;
        background-size:cover;
        height: 0;
        padding-top: 5%;
    }

    .shopping_cart_title .cart_title {
        position: relative;
        background: #f8f8f8;
        background-size:cover;
        height: 0;
        padding-top: 5%;
    }

    .cart .empty{
        position: relative;
        background: white;
        background-size:cover;
        height: 0;
        padding-top: 50%;
    }

    .cart .cart_content{
        position: relative;
        background: white;
        background-size:cover;
        height: 0;
        padding-top: 30%;
    }

    .cart_table {
        border-collapse: collapse;
        width: 100%;
        position: absolute;
        top: 3vmin;
        padding-left: 5vmin;
        font-size: 1.2vmin;
    }

    th, td {
        padding-right: 2.9vmin;
        padding-left: 2.9vmin;
        text-align: left;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    th {
        padding-bottom: 2vmin;
    }
    
    .table_sum {
        width: 100%;
        position: absolute;
        top: 22vmin;
        right: 4vmin;
        padding-left: 5vmin;
        width: auto;
        font-size: 1.8vmin;
        font-weight: 600;
    }

    .cart_table img {
       width: 10vmin 
    }

    .cart_confirm {
        position: relative;
        background: white;
        background-size:cover;
        height: 0;
        padding-top: 20%;
    }

    .cart_confirm .left_btn .btn{
        top: 2vmin;
    }

    .cart_confirm .right_btn .btn{
        top: 2vmin;
        right: 4vmin;
        text-align: right;
    }
    /*----Shopping Cart----*/

    /*----Product details page----*/
    .product_page .empty{
        position: relative;
        background: white;
        background-size:cover;
        height: 0;
        padding-top: 80%;
    }

    .product_page .product_detail_img{
        position: relative;
    }
        .product_page .product_detail_img img{
            width: 100%;
        }

    .product_page .product_detail_des{
        position: fixed;
        right: 5vmin;
        height: 100%;
    }

    .product_page .product_detail_des p{
        padding-left: 2vmin;
        padding-right: 2vmin;
    }

    .product_page .product_detail_des .img_featured{
        padding-top: 5vmin;
    }

    .img_option:hover {
        font-style: italic;
        cursor: pointer;
    }

    .img_option1_para{
        font-size: 1.3vmin;
        position: relative;
    }

    .img_option:active .img_option1_para {
        display: block;
    }

.buy_btn {
    position: relative;
    margin-top: 0;
}
    /*----Product details page----*/
/*---- Content ----*/

/*---- Mobile----*/
@media screen and (max-width:520px) {

}

/*---- Bigger than Tablet----*/
@media screen and (min-width: 520px) { 

}