/*-----------hover paragraph--------------*/
.hoveron-paragraph{
    
    display: inline-block;
    border-bottom: 1px dotted black;
}

.hoveron-paragraph .show-hidden-paragraph {
    visibility: hidden;
    width: 180px;
    height:155px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    color: #000000;
    padding:15px 20px;
    text-align: left;
    margin-top: 0.6px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.hoveron-paragraph:hover .show-hidden-paragraph {
    visibility: visible;
}
/*-----------hover paragraph end----------*/


/*-----------hover button ---------*/

.hoveron-nav-btn{

display: inline-block;
border-bottom: 1px dotted black;
float: left;
margin-top:5%;
margin-left: 26%;

}


.hoveron-nav-btn .show-nav-btn{
    visibility: hidden;
    width: 350px;
    height:200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    color: #000000;
    padding:15px 20px;
    text-align: left;
    margin-top: -1px;
 
    position: absolute;
    z-index: 1;

}
.hoveron-nav-btn:hover .show-nav-btn {
    visibility: visible;
}

/*-----------hover button ends---------*/



/*-----------hover in text link -------------*/
.hoveron-intext-link{

display: inline-block;
border-bottom: 1px dotted black;
float: left;
margin-top:2%;
margin-left: 35%;

}


.hoveron-intext-link .show-intext-link{
    visibility: hidden;
    width: 270px;
    height:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    color: #000000;
    padding:15px 20px;
    text-align: left;
    margin-top: -1px;
 
    position: absolute;
    z-index: 1;

}
.hoveron-intext-link:hover .show-intext-link {
    visibility: visible;
}

/*-----------hover in text link ends---------*/




/*-----------hover on button --------------*/

.hoveron-button{

display: inline-block;
border-bottom: 1px dotted black;
float: left;
margin-top:2%;
margin-left: 35%;

}


.hoveron-button .show-button{
    visibility: hidden;
    width: 270px;
    height:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    color: #000000;
    padding:15px 20px;
    text-align: left;
    margin-top: -1px;
 
    position: absolute;
    z-index: 1;

}

.hoveron-button:hover .show-button {
    visibility: visible;
}

/*-----------hover on button ends------------*/



/*-----------hover on text input field ------------*/


.hoveron-input-field{

display: inline-block;
border-bottom: 1px dotted black;
float: left;
margin-top:1.2%;
margin-left: 28%;

}


.hoveron-input-field .show-input-field{
    visibility: hidden;
    width: 270px;
    height:130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    color: #000000;
    padding:15px 20px;
    text-align: left;
    margin-top: -1px;
 
    position: absolute;
    z-index: 1;

}

.hoveron-input-field:hover .show-input-field {
    visibility: visible;
}

/*-----------hover on text input field ends------------*/






