*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h5{
    font-size: 15px;
    font-weight: 700;
    margin-top: 2px;
}

h6{
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
}

}

ul, ol {margin: 0;}
body{
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding:0;
}
p,a,span{
  font-family: 'Open Sans', sans-serif;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
}

/*-----------product listing */


.column {
  margin: 15px 15px 0;
  padding: 0;
}
.column:last-child {
  padding-bottom: 60px;
}
.column::after {
  content: '';
  clear: both;
  display: block;
}
.column div {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  margin: 0 0 0 25px;
  padding: 0;
}
.column div:first-child {
  margin-left: 0;
}
.column div span {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}
figure {
  width: 300px;
  height: 200px;
  margin-top: 5%;

  margin-left: 40%;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
figure:hover+span {
  bottom: -36px;
  opacity: 1;
}



/* Zoom In #1 */
.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/*-----------product listing ends--------*/






 /* Nav */

     /*-- navigation --*/

.navigation {   
    margin-top: 40px;
    width: 100%;
    float: right;
    text-align: right;
    border: none !important;

}

.navigation h1 {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.5px;
  float: left;
  padding-top: 7px;
  margin-left: 50px;
}
.navigation ul{
  width: 100%;
}

/*--nav menu position (home,product, etc)--*/
.navigation ul li{                              
  display:inline-block;
  margin-top: -20px;
}
/*--nav menu style (color, display)--*/
.navigation ul li a {                           
    color: #6A6A6A;
    margin: 0 0px;
    font-size: 13px;
    text-decoration: none;
    padding: 30px;
    display: block;
}

.navigation ul li a:hover,.navigation ul li a.active{
    color: black;
    font-weight: 600;

}
/*-- navigation ends here--*/


/*-----------nav ends---------*/






.code1{
  margin-top: 5%;
}

.code-space{
  margin-left:7%;
  font-size: 12px;
}


.heading-size1{
  margin-left: 6%;
  font-size: 60px;
  font-weight: 600;
}

.heading2, .heading3{
margin-top: 0.5%;
}

.heading-size2{
  margin-left: 6%;
  font-size: 35px;
  font-weight: 600;
}

.heading-size3{
  margin-left: 6%;
  font-size: 25px;
  font-weight: 600;
}




.headings-banner h1{
  font-weight: 600;
  font-size: 45px;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
  text-align: left;
}
.headings-banner h2{
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 0.5px;
  text-align: left;
}
.headings-banner h3{
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.5px;
  text-align: left;
}
.headings-banner h4{
  font-weight: 400;
  font-size: 18px;
  margin-top: 10%;
  color:#939393;
  letter-spacing: 0.5px;
  text-align: center;
}



.show-hidden-paragraph p{
  margin-top: 3px;
}
.show-intext-link p{
  margin-top: 3px;
  font-size: 12px;
}




.paragraphs-banner-left{
    float: left;
    width: 20%;
    color: #3f3f3f;

    min-height: 599px;
   padding-left: 10%;
   padding-top: 15%;
    position: relative;

}
.paragraphs-banner-left p{
  margin-top: 3px;
  font-size: 12px;
  color:#2a2a2a;
}

.paragraphs-banner-right{
  float: right;
    width: 70%; 
 
    min-height: 599px;
  padding-right: 10%;
   padding-top: 15%;
    position: relative;
    letter-spacing: 0.2px;
    line-height: 180%;

   -webkit-background-size: cover;
    background-size: cover;
   -moz-background-size: cover;
}

/*-------In text Link------*/

.in-text-link a:link {
   color:rgb(220,210,196);
    background-color: transparent;
    text-decoration: none;
}

.in-text-link a:visited {
    color:rgb(220,210,196);  
    background-color: transparent;
    text-decoration: none;
}

.in-text-link a:hover {
    color:#9acae5;
   
    background-color: transparent;
    text-decoration: underline;
}
.in-text-link a:active {
    color:#a3bec6;
    background-color: transparent;
    text-decoration: underline;
}
/*-------In text Link ends------*/





/*------dropdwon--------*/

.dropdown li{
  float:left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}


.banner-right, .dropdown-banner-right{

    float: right;
    width: 50%;
    background: rgb(224,221,198) no-repeat 0 -98px;
    min-height: 599px;
   -webkit-background-size: cover;
    background-size: cover;
   -moz-background-size: cover;
}

.dropdown-banner-right h2{

  text-align: center;
  font-weight: 500;
  font-size: 30px;
  padding-top: 215px;
  text-transform: uppercase;
   color:#2a2a2a;

}



.dropdown ul li{                              
  display:inline-block;
}

.dropdown ul li a {                           
    color: #6A6A6A;
    margin: 0 0px;
    font-size: 13px;
    text-decoration: none;
    padding: 22px 13px 18px 13px;
    display: block;
    text-align: left;
}

.dropdown ul li a:hover,.dropdown ul li a.active{
    color: black;
    font-weight: 600;
}



/*------dropdwon ends--------*/



/*--banner--*/
.dropdown-banner-left,.banner-left,.textinput-banner-right,.headings-banner-left{
    float: left;
    width: 50%;
    background-color: #fff;
    min-height: 599px;
    padding: 14em 12em 0;
    position: relative;
}

/*hr{
  border-color:rgb(224,221,198);
  background-color: rgb(224,221,198);
  width:22%;
  margin-bottom: 10%;
}*/

.pl-hr{
  margin-top: 15%;
  width: 20%;
  border-color:rgb(224,221,198);
  background-color: rgb(224,221,198);

}

.product-list h2{
  margin-left: 10%;
  margin-top: 3%;
}




.banner-right h4, .textinput-banner-left h2{
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  padding-top: 268px;
  text-transform: uppercase;
   color:#2a2a2a;
}

.textinput-banner-left{
  float: left;
    width: 50%;
    background: rgb(224,221,198) no-repeat 0 -98px;
    min-height: 599px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}


.list-banner-left{
  margin-top: -10%;
  float: left;
    width: 46%;
    background: rgb(224,221,198) no-repeat 0 -98px;
    min-height: 250px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.number-content{
  padding-top: 10%;
  padding-left: 10%;
}

.bulleted-content{
  padding-top: 10%;
  padding-left: 10%;

}

.list-banner-right{
  float: right;
    width: 46%;
    background: rgb(224,221,198) no-repeat 0 -98px;
    min-height: 250px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}



/*----banner ends------*/


/* button*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.submit-button {
  border: 2px solid #222;
  background: transparent;
  overflow: hidden;
  width: 100%;
  outline: none;
   margin: 0 auto;
  padding: 5%;

}




.submit-button a {
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2em;

  color: #111111;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  overflow: hidden;



  cursor: pointer;
 
  -webkit-transition: color 0.3s 0.1s ease-out;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  line-height: 250%;
  
}
.submit-button a::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  line-height: 20em;
  left: -5em;
  text-align: center;
  -webkit-transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
.submit-button a:hover {
  color: rgb(220,210,196);
}
.submit-button a:hover::before {
  box-shadow: inset 0 0 0 10em #ee3769;
}

.submit-button a::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  line-height: 20em;
  left: -5em;
  text-align: center;
  -webkit-transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
.submit-button a:hover {
  color:rgb(220,210,196);
}
.submit-button a:hover::before {
  box-shadow: inset 0 0 0 10em #ee3769;
}



/* button ends */



/* TEXT INPUT FIELD*/
*:focus {
  outline: 0;
}

.here-to-there {
  height: 100%;
  /*position: relative;*/
  width: 100%;
}

.contact-us{
  margin:-30% 30% 10% -8%;

}

.off-canvas {
  position: relative;
  width: 300px;
  height: 350px;
  
}

.form-frame {
  margin: auto;
  width: 300px;

}

.form-frame span{
  color: #888;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-size: 12px;
  padding-top: 5px;
  letter-spacing: 4px;
}
/*when click to type the field text color will change*/
.form-frame .contact-us .focus span{
  color: #000;
  font-family: 'Open Sans', sans-serif;
  transition: color 0.5s ease;
  letter-spacing: 1px;
}


input {
  background-color: transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #999;
  border-right: 1px solid transparent;
  width: 300px;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 0.1px;
}

textarea{
  background-color:transparent;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  width: 300px;

}

input{

  background-color:transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #999;
  border-right: 1px solid transparent;
  width: 300px;
}

textarea{
  color: black;
  font-size: 12px;
  line-height: 18px;
  padding: 4px 0px;
  height: 103px;
  resize:none;
  margin-top: 8px;
}

textarea:focus, input:focus{
  outline: 0;
}

/* TEXT INPUT FIELD ENDS*/


section:not([id]) {
  margin: 1em 0;
  padding: 1em 0;
  border-bottom: 0.15em solid #333;
}


section h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 60;
  font-weight: 600;
}

section h3 {
  font-size: 30;
  margin-bottom: 0;
  font-weight: 400;
}

section p {
  margin-top: 0;
}
/*
nav {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 0.15em solid #333;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}*/

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}

/*------------To Top----------*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 14px;
    right: 3%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background: url("../images/to-top1.png") no-repeat 0px 0px;
}