h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
body{
	font-family: 'Open Sans', sans-serif;
	margin:0;
	padding:0;
    
}
h1,h2,h3,h4,h5,h6{
	 font-family: 'OpenSans-Regular';
}
@font-face {
   font-family: 'OpenSans-Regular';
   src: url(../fonts/OpenSans-Regular.ttf)format('truetype');
}
p,a,span,i{
	font-family: 'Open Sans', sans-serif;
	  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
}
/*--header-nav--*/
.header {
    background-color: #fff;
    border: none;
    margin-top: 5vh;
    margin-left: 6vw;
    width: 50vw;
    border-radius: 0;
}
/*-- navigation --*/
/*-- menu --*/
.navigation span{
	display:none;
}
/*-- //menu --*/
.logo-head {
    padding: 65px 0;
    position: relative;
}
.navigation ul{
	padding:0;
	margin:0;
    text-align: right;
}
.navigation ul li{
	display:inline-block;
	
}
.header-right ul{
	padding: 0;
	
}
.header-right ul li a{
    padding: 23px 16px 20px;
    display: block;
}
.navigation ul li a {
    color: #6A6A6A;
    margin: 0 0px;
    font-size: 13px;
    text-decoration: none;
    padding: 22px 13px 18px 13px;
    display: block;
}
.navigation ul li a:hover,.navigation ul li a.active{
    color: #F896A9;
}
.navigation ul li:nth-child(4) {
  margin-left: 0;
}

.header-banner .top_img{
    padding:0;
    margin: 0;
	/*background:url(../images/wel1.jpg);
	background-size:cover;*/
	min-height:10vw;
	/*padding-top:9em !important;*/
	text-align:center;
}
.header-right ul li {
    list-style: none;
    display: inline-block;

        float: left;
}
.header-right ul li:hover.header-right ul li a span{
	    transform: rotatey(360deg);
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.header-right ul li:hover{
	    display: block;
}
.navigation {
    width: 78%;
    float: left;
    text-align: right;
    border: none !important;
}
.header-right {
    width: 22%;
    float: right;
    text-align: right;
}
.header-right ul li a span {
    /*background: url(../images/social.png) no-repeat;*/
    width: 16px;
    height: 16px;
    display: block;
}
.header-right ul li:hover span.logoin, .about-two ul li a span:hover {
    transform: rotatey(360deg);
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.header-right ul li:hover span.shopcar, .about-two ul li a span:hover {
    transform: rotatey(360deg);
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}


}
.header-right ul li a span.logoin{
	background-position:-48px 0px;
}
.header-right ul li a span.shopcar{
	background-position:-64px 0px;
}


.photos-row1{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
     -webkit-column-gap:0;
    -moz-column-count: 3; /* Firefox */
    -moz-column-gap:0;
    column-count: 3;
    column-gap: 0;
    -webkit-column-width: 33.3333333333%; /* Chrome, Safari, Opera */
    -moz-column-width: 33.33333333333333%; /* Firefox */
    column-width: 33.33333333333333%;
   
}

.photos-row1 img{ 
    width: 100% !important; 
     height: auto !important;
｝

    
    

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 14px;
    right: 3%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background: url("../images/to-top1.png") no-repeat 0px 0px;
}

.home-p1{
    display: grid;
}



