body {
  padding: 1vw;
  overflow-y: scroll;
}

/* scroll bar */
body::-webkit-scrollbar {
  width: 2px;
}

body.thin::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100, 100, 100, 0.4);
}
/* scroll bar ends */


/*---- content ----*/
.content {
    margin-top: 5vw;
}

.home_img img{
    width: 25vw;
}

.img_number{
    float: left;
    position: absolute;
    font-size: 3.5rem;
    font-weight: 500;
    top: -3rem;
    margin: 1rem;
}

.img_description{
    width: 20%;
    position: absolute;
    font-weight: 500;
    top: 4rem;
    margin: 1rem;
    right: -12rem;
}

/*---- Top Left Image ---*/
.image_top_left{
    position: relative;
    float: left;
    width: 40%;
}
/*---- Top Left Image ---*/

/*---- Top Right Image ---*/
.image_top_right{
    position: relative;
    float: right;
    width: 40%;
    top: 15vw;
}
/*---- Top Right Image ---*/

/*---- Bottom Left Image ---*/
.image_bottom_left{
    position: relative;
    float: left;
    width: 40%;
    top: 10vw;
}
/*---- Bottom Left Image ---*/

/*---- Bottom Right Image ---*/
.image_bottom_right{
    position: relative;
    float: right;
    width: 40%;
    top: 30vw;
}
/*---- Bottom Left Image ---*/
/* scroll content ends */


/*---- Header ----*/
    .main_header {
        padding: 5vw;
    }

    /*---- Website Name ----*/
    .website_name {
        padding:2vw;
        float: left;
        text-align: left;
    }
    /*---- Website Name ----*/

    /*---- Main Navigation ----*/
        nav{
            padding: 2vw;
            float: right;
        }

        .top_nav{
            list-style: none;
            float: left;
        }

        .top_nav li{
            display: inline-block;
            position:relative;
            font-size: 15px;
        }

        .top_nav a{
            color: black;
            display: block;
            padding: 10px;
            text-decoration: none;
        }

        .top_nav a:hover, .top_nav a:focus{
            -webkit-transition: box-shadow .5s ease;
            box-shadow: 0px -2px 0px #E0DDC6 inset;
        }

        .top_nav ul li a:hover .top_nav li{
            box-shadow: 0px -2px 0px #E0DDC6 inset;
        }

        .top_nav ul{
            display: none;
            list-style: none;
            position: absolute;
            min-width: 100%;
            background-color: #ffffff;
            box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
            font-size: 0.8rem; 
            padding: 0px;
        }

        .top_nav ul li{
            padding-top: 1px;
            float: none;
            width: 100%;
            font-size: 12px;
        }

        /*---- Current Page ----*/
            .active {
                box-shadow: 0px -2px 0px #E0DDC6 inset;
            }
        /*---- Current Page ----*/

        .top_nav li:hover ul{
            display: block;
        }

        .top_nav ul li:hover a{
            width: 100%;
            background-color: #E0DDC6;
        }

        ul.top_nav li.icon {
            display: none;
        }
    /*---- Main Navigation ----*/
/*---- Header ----*/

.clearfix{
clear:both;
}










