body {
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  padding: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* scroll bar */
body::-webkit-scrollbar {
  width: 2px;
}

body.thin::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100, 100, 100, 0.4);
}
/* scroll bar ends */


/* scroll content */
.scroll_image_left{
    position: absolute;
    margin-top: 15%;
}

.scroll_image_right{
    position: absolute;
    margin-top: 40vw;
    right: 0;
}

.home_img_right{
    right: 0;
    float: right;
    width: 100%;
}
.home_img_left{
}

.img_number{
    float: left;
    z-index: 100;
    position: absolute;
    font-size: 3.5rem;
    font-weight: 500;
    top: -3rem;
    margin: 1rem;
}

.img_description_left{
    width: 30%;
    position: absolute;
    font-weight: 500;
    top: 2rem;
    margin: 1rem;
    right: -9rem;
}



.img_description_right{
    width: 30%;
    position: absolute;
    font-weight: 500;
    bottom: 2rem;
    margin: 1rem;
    left: -10rem;
}
/* scroll content ends */


  /*---- Main Navigation ----*/
        nav{
            margin-top: 5%;
            margin-right: 4%;
            float: right;      
        }

        .top_nav{
            list-style: none;
            float: left;
        }

        .top_nav li{
            display: inline-block;
            position:relative;
            font-size: 15px;
        }

        .top_nav a{
            color: black;
            display: block;
            padding: 10px 20px;
            text-decoration: none;
        }

        .top_nav a:hover, .top_nav a:focus{
            -webkit-transition: box-shadow .5s ease;
            box-shadow: 0px -1.5px 0px #E0DDC6 inset;
        }

        .top_nav ul li a:hover .top_nav li{
            box-shadow: 0px -1.5px 0px #E0DDC6 inset;
        }

        .top_nav ul{
            display: none;
            list-style: none;
            position: absolute;
            min-width: 100%;
            background-color: #ffffff;
            box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
            font-size: 0.8rem; 
            padding: 0px;
        }

        .top_nav ul li{
            padding-top: 1px;
            float: none;
            width: 100%;
            font-size: 12px;
        }

        /*---- Current Page ----*/
            .active {
                box-shadow: 0px -1.5px 0px #E0DDC6 inset;
            }
        /*---- Current Page ----*/

        .top_nav li:hover ul{
            display: block;
        }

        .top_nav ul li:hover a{
            width: 100%;
            background-color: #E0DDC6;
        }

        ul.top_nav li.icon {
            display: none;
        }
    /*---- Main Navigation ----*/











